<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329855915831-9qfb8dgso0pgedrns2pg1nj7e1prjrh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329855915831-9qfb8dgso0pgedrns2pg1nj7e1prjrh1</string>
	<key>API_KEY</key>
	<string>AIzaSyBr-f4pZQQGcIxdS-b4509adz5N59cMRBU</string>
	<key>GCM_SENDER_ID</key>
	<string>329855915831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalyearproject</string>
	<key>PROJECT_ID</key>
	<string>newfinalyearproject-9eb77</string>
	<key>STORAGE_BUCKET</key>
	<string>newfinalyearproject-9eb77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329855915831:ios:2e4d4fcfea427f11cdecb2</string>
</dict>
</plist>